In [34]:
import pandas as pd

In [35]:
data = pd.read_csv('../project/nyc_real_estate.csv', index_col=False)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       387 non-null    int64
 1   Name             387 non-null    object
 2   City             387 non-null    object
 3   Neighbourhood    387 non-null    object
 4   Price            387 non-null    object
 5   Year Built       387 non-null    object
 6   Beds             387 non-null    object
 7   Baths            387 non-null    object
 8   Area             387 non-null    object
 9   Price(per sqft)  387 non-null    object
 10  A/C              387 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.4+ KB

In [37]:
data = data.drop(labels = ['Unnamed: 0'], axis = 1)

In [38]:
data = data.replace('Null', pd.NA).dropna()

In [39]:
data['cleaned_year'] = data['Year Built'].apply(lambda x : x[-4:])
data = data.replace("Null", pd.NA).dropna()
data['Price'] = data['Price'].str.replace('$', '')

/var/folders/0k/9ww6ld9955q88m1k2jkfvkvh0000gn/T/ipykernel_38519/3995601642.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Price'] = data['Price'].str.replace('$', '')

In [43]:
data['Baths'] = data['Baths'].str.replace('Baths', '')
data['Baths'] = data['Baths'].str.replace('Bath', '')
data['Year Built'] = data['Year Built'].apply(lambda x : x[-4:])
data['cleaned_beds'] = data['Beds'].apply(lambda x : x[0])
data['cleaned_beds'] = data['cleaned_beds'].replace('S', 0.5)

In [44]:
data

,Name,City,Neighbourhood,Price,Year Built,Beds,Baths,Area,Price(per sqft),A/C,cleaned_year,cleaned_beds
1,37-26 32nd St #5K,"Long Island City, NY 11101",Astoria,"620,000",2022,Studio,1,441 sqft,"$1,406",Cooling only,2022,0.5
2,37-26 32nd St #3G,"Long Island City, NY 11101",Astoria,"730,000",2022,1 Bed,1,579 sqft,"$1,261",Cooling only,2022,1
3,37-26 32nd St #6L,"Long Island City, NY 11101",Astoria,"570,000",2022,Studio,1,429 sqft,"$1,329",Cooling only,2022,0.5
4,37-26 32nd St #3H,"Long Island City, NY 11101",Astoria,"695,000",2022,1 Bed,1,632 sqft,"$1,100",No,2022,1
6,2736 Independence Ave #6J,"Bronx, NY 10463",Spuyten Duyvil,"235,995",1970,1 Bed,1,850 sqft,$278,No,1970,1
...,...,...,...,...,...,...,...,...,...,...,...,...
379,1619 3rd Ave #3B,"New York, NY 10128",Upper East Side,"635,000",1975,Studio,1,528 sqft,"$1,203",Cooling only,1975,0.5
381,43 Joralemon St,"Brooklyn, NY 11201",Brooklyn Heights,"4,500,000",1845,5 Beds,6,"3,192 sqft","$1,410",No,1845,5
382,195 Classon Ave #5,"Brooklyn, NY 11205",Bedford Stuyvesant,"1,395,000",2008,2 Beds,2,"1,185 sqft","$1,177",No,2008,2
384,410 Maryland Ave #1C,"Staten Island, NY 10305",Rosebank,"279,900",1974,2 Beds,1,"1,100 sqft",$254,Heating & Cooling,1974,2
385,2415 E 64th St,"Brooklyn, NY 11234",Mill Basin,"1,089,000",1965,4 Beds,3,"1,899 sqft",$573,Heating & Cooling,1965,4