In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import re
import statsmodels.formula.api as smf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from IPython.display import Image
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

In [27]:
data = pd.read_csv('nyc_real_estate.csv', index_col=False)

In [28]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       387 non-null    int64
 1   Name             387 non-null    object
 2   City             387 non-null    object
 3   Neighbourhood    387 non-null    object
 4   Price            387 non-null    object
 5   Year Built       387 non-null    object
 6   Beds             387 non-null    object
 7   Baths            387 non-null    object
 8   Area             387 non-null    object
 9   Price(per sqft)  387 non-null    object
 10  A/C              387 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.4+ KB

In [29]:
data.rename(columns = {"Area" : "Area (sqft)"}, inplace = True)
data = data.drop(labels = ['Unnamed: 0'], axis = 1)
data = data.replace("Null", pd.NA).dropna()
data['Price'] = data['Price'].str.replace('$', '')
data['Baths_cleaned'] = data['Baths'].str.replace('Baths', '')
data['Baths_cleaned'] = data['Baths_cleaned'].str.replace('Bath', '')
data['Year Built'] = data['Year Built'].apply(lambda x : x[-4:])
data['Area (sqft)']= data['Area (sqft)'].apply(lambda x: x.strip('sqft'))
data['Area (sqft)']= data['Area (sqft)'].str.replace(',', '')
data['Beds'] = data['Beds'].apply(lambda x : x[0])
data['Beds'] = data['Beds'].replace('S', 0.5)
data['Price'] = data['Price'].str.replace(',', '').astype(int)
data['Beds'] = data['Beds'].apply(lambda x: int(x))
data['Year Built'] = data['Year Built'].apply(lambda x : int(x[-4:]))
data['Beds'] = data['Beds'].replace('S', 0.5)
#data['Price'] = data['Price'].apply(lambda x: int(re.search(r'\d+', x).group()))
data['Beds'] = data['Beds'].apply(lambda x : int(x))
data['Price(per sqft)'] = data['Price(per sqft)'].str.replace('$', '')
data['Price(per sqft)'] = data['Price(per sqft)'].str.replace(',', '').astype(int)
data['Area (sqft)'] = data['Area (sqft)'].apply(lambda x : x.strip('sqft'))
data['Area (sqft)'] = data['Area (sqft)'].str.replace(',', '')
data['Area (sqft)'] = data['Area (sqft)'].apply(lambda x : int(re.search(r'\d+', x).group()))

<ipython-input-29-6e7426053bea>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['Price'] = data['Price'].str.replace('$', '')
<ipython-input-29-6e7426053bea>:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['Price(per sqft)'] = data['Price(per sqft)'].str.replace('$', '')

In [30]:
data.head()

,Name,City,Neighbourhood,Price,Year Built,Beds,Baths,Area (sqft),Price(per sqft),A/C,Baths_cleaned
1,37-26 32nd St #5K,"Long Island City, NY 11101",Astoria,620000,2022,0,1 Bath,441,1406,Cooling only,1
2,37-26 32nd St #3G,"Long Island City, NY 11101",Astoria,730000,2022,1,1 Bath,579,1261,Cooling only,1
3,37-26 32nd St #6L,"Long Island City, NY 11101",Astoria,570000,2022,0,1 Bath,429,1329,Cooling only,1
4,37-26 32nd St #3H,"Long Island City, NY 11101",Astoria,695000,2022,1,1 Bath,632,1100,No,1
6,2736 Independence Ave #6J,"Bronx, NY 10463",Spuyten Duyvil,235995,1970,1,1 Bath,850,278,No,1